services:
  dub-web:
    container_name: dub-web
    build:
      context: ..
      dockerfile: deploy/Dockerfile.hostinger
      args:
        NEXT_PUBLIC_APP_NAME: ${NEXT_PUBLIC_APP_NAME}
        NEXT_PUBLIC_APP_DOMAIN: ${NEXT_PUBLIC_APP_DOMAIN}
        NEXT_PUBLIC_APP_SHORT_DOMAIN: ${NEXT_PUBLIC_APP_SHORT_DOMAIN}
        DATABASE_URL: ${DATABASE_URL}
        PLANETSCALE_DATABASE_URL: ${PLANETSCALE_DATABASE_URL}
        NEXTAUTH_SECRET: ${NEXTAUTH_SECRET}
        NEXTAUTH_URL: ${NEXTAUTH_URL}
        TINYBIRD_API_KEY: ${TINYBIRD_API_KEY}
        TINYBIRD_API_URL: ${TINYBIRD_API_URL}
        UPSTASH_REDIS_REST_URL: ${UPSTASH_REDIS_REST_URL}
        UPSTASH_REDIS_REST_TOKEN: ${UPSTASH_REDIS_REST_TOKEN}
        QSTASH_TOKEN: ${QSTASH_TOKEN}
        QSTASH_CURRENT_SIGNING_KEY: ${QSTASH_CURRENT_SIGNING_KEY}
        QSTASH_NEXT_SIGNING_KEY: ${QSTASH_NEXT_SIGNING_KEY}
        PLAIN_API_KEY: ${PLAIN_API_KEY:-}
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
      PORT: "3000"
      NEXT_PUBLIC_VERCEL_ENV: production

      NEXT_PUBLIC_APP_NAME: ${NEXT_PUBLIC_APP_NAME}
      NEXT_PUBLIC_APP_DOMAIN: ${NEXT_PUBLIC_APP_DOMAIN}
      NEXT_PUBLIC_APP_SHORT_DOMAIN: ${NEXT_PUBLIC_APP_SHORT_DOMAIN}

      DATABASE_URL: ${DATABASE_URL}
      PLANETSCALE_DATABASE_URL: ${PLANETSCALE_DATABASE_URL}

      NEXTAUTH_SECRET: ${NEXTAUTH_SECRET}
      NEXTAUTH_URL: ${NEXTAUTH_URL}

      TINYBIRD_API_KEY: ${TINYBIRD_API_KEY}
      TINYBIRD_API_URL: ${TINYBIRD_API_URL}

      UPSTASH_REDIS_REST_URL: ${UPSTASH_REDIS_REST_URL}
      UPSTASH_REDIS_REST_TOKEN: ${UPSTASH_REDIS_REST_TOKEN}

      QSTASH_TOKEN: ${QSTASH_TOKEN}
      QSTASH_CURRENT_SIGNING_KEY: ${QSTASH_CURRENT_SIGNING_KEY}
      QSTASH_NEXT_SIGNING_KEY: ${QSTASH_NEXT_SIGNING_KEY}

      RESEND_API_KEY: ${RESEND_API_KEY}
      RESEND_WEBHOOK_SECRET: ${RESEND_WEBHOOK_SECRET}
      SMTP_HOST: ${SMTP_HOST:-localhost}
      SMTP_PORT: ${SMTP_PORT:-1025}
      SMTP_USER: ${SMTP_USER:-}
      SMTP_PASSWORD: ${SMTP_PASSWORD:-}

      PLAIN_API_KEY: ${PLAIN_API_KEY:-}
      PLAIN_WEBHOOK_SECRET: ${PLAIN_WEBHOOK_SECRET:-}

      PROJECT_ID_VERCEL: ${PROJECT_ID_VERCEL:-}
      TEAM_ID_VERCEL: ${TEAM_ID_VERCEL:-}
      AUTH_BEARER_TOKEN: ${AUTH_BEARER_TOKEN:-}

      STORAGE_ACCESS_KEY_ID: ${STORAGE_ACCESS_KEY_ID:-}
      STORAGE_SECRET_ACCESS_KEY: ${STORAGE_SECRET_ACCESS_KEY:-}
      STORAGE_ENDPOINT: ${STORAGE_ENDPOINT:-}
      STORAGE_BASE_URL: ${STORAGE_BASE_URL:-}
      STORAGE_PUBLIC_BUCKET: ${STORAGE_PUBLIC_BUCKET:-}
      STORAGE_PRIVATE_BUCKET: ${STORAGE_PRIVATE_BUCKET:-}
